/**
 * Created by takei on 18.6.2018.
 */

.THIS .currentPage{
    font-weight: 900 !important;
}

.THIS .inactive{
    background-color:rgba(0, 0, 0, 0.1);
}

.THIS #paginationButtons:hover,
.THIS #paginationButtons:focus{
    text-decoration: none !important;
}